modules = ["nodejs-20", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Next.js Dev Server"

[[workflows.workflow]]
name = "Next.js Dev Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 33791
externalPort = 5000

[[ports]]
localPort = 34387
externalPort = 6800

[[ports]]
localPort = 35475
externalPort = 8081

[[ports]]
localPort = 37931
externalPort = 8099

[[ports]]
localPort = 38173
externalPort = 6000

[[ports]]
localPort = 38311
externalPort = 3003

[[ports]]
localPort = 39341
externalPort = 5173

[[ports]]
localPort = 39721
externalPort = 3000

[[ports]]
localPort = 43825
externalPort = 8008

[[ports]]
localPort = 46417
externalPort = 3001

[[ports]]
localPort = 46457
externalPort = 8000

[[ports]]
localPort = 46699
externalPort = 8080

[[ports]]
localPort = 46707
externalPort = 4200

[[ports]]
localPort = 46845
externalPort = 3002

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "start"]
build = ["npm", "run", "build"]
